// Fonts
@font-face {
    font-family: "maison-neue-book";
    src: url("/fonts/maison-neue-book/webfont.eot");
    src: url("/fonts/maison-neue-book/webfont.eot") format("embedded-opentype"),
       	 url("/fonts/maison-neue-book/webfont.woff2") format("woff2"),
       	 url("/fonts/maison-neue-book/webfont.woff") format("woff"),
       	 url("/fonts/maison-neue-book/webfont.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "zapf-humanist";
    src: url("/fonts/zapf-humanist/webfont.eot");
    src: url("/fonts/zapf-humanist/webfont.eot") format("embedded-opentype"),
       	 url("/fonts/zapf-humanist/webfont.woff2") format("woff2"),
       	 url("/fonts/zapf-humanist/webfont.woff") format("woff"),
       	 url("/fonts/zapf-humanist/webfont.ttf") format("truetype");
    font-style: normal;
}

// Sass
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
	letter-spacing: 1px;
}

h1, h2, h3 {
	font-family: $font-family-display;
}

p {
	font-size: 18px;
}

.navbar-brand {
	font-family: $font-family-display;
	font-size: 30px;
}

.header {
	height: 80vh;
	text-align: center;

	&__date {
		font-size: 64px;
	}
}