// Fonts
@font-face {
    font-family: "maison-neue-book";
    src: url("/fonts/maison-neue-book/webfont.eot");
    src: url("/fonts/maison-neue-book/webfont.eot") format("embedded-opentype"),
       	 url("/fonts/maison-neue-book/webfont.woff2") format("woff2"),
       	 url("/fonts/maison-neue-book/webfont.woff") format("woff"),
       	 url("/fonts/maison-neue-book/webfont.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "zapf-humanist";
    src: url("/fonts/zapf-humanist/webfont.eot");
    src: url("/fonts/zapf-humanist/webfont.eot") format("embedded-opentype"),
       	 url("/fonts/zapf-humanist/webfont.woff2") format("woff2"),
       	 url("/fonts/zapf-humanist/webfont.woff") format("woff"),
       	 url("/fonts/zapf-humanist/webfont.ttf") format("truetype");
    font-style: normal;
}

// Sass
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
	  scroll-behavior: smooth;
}


h1, h2, h3 {
	font-family: $font-family-display;
}

p {
	font-size: 1.1rem;
	letter-spacing: 1px;
}

.form-row > .col, 
.form-row > [class*=col-] {
	margin-bottom: 10px;
}

.home-section {
	margin-bottom: 60px;

	@include media-breakpoint-up(md) {
		margin-bottom: 120px;
	}
}

.align-items-center {
	height: 100%;
}

.navbar-brand {
	font-family: $font-family-display;
	font-size: 30px;
}

.navbar-light {
	.navbar-toggler {
		border: none;
	}
}

.nav-item {
	letter-spacing: 1px;
}

.header {
	height: 500px;
	text-align: center;

	&__title {
		font-size: 2.2rem;

		@include media-breakpoint-up(md) {
			font-size: 3.6rem;
		}
	}
}

.section-header {
	margin-bottom: 30px;
	text-align: center;

	h6 {
		text-transform: uppercase;
		letter-spacing: 2px;
	}
}

.hr {
	&--divider {
		width: 50px;
		margin: 30px auto;
		border-color: $black;
	}

	&--clear {
		border: none;
		margin: 60px auto;
	}
}

.image {
	position: relative;
	margin-bottom: 60px;

	&--380x500 {
		width: 380px;
		height: 500px;
		
	}

	&--400x400 {
		width: 400px;
		height: 400px;
		
	}

	&--500x500 {
		width: 500px;
		height: 500px;
	}

	&--500x600 {
		width: 500px;
		height: 600px;
	}

	&--600x600 {
		width: 600px;
		height: 600px;
	}

	&--800x500 {
		width: 800px;
		height: 500px;
	}

	&--1140x500 {
		width: 1140px;
		height: 500px;
		
	}

	&__container {
		position: relative;
		overflow: hidden;
		z-index: 1;

		@include media-breakpoint-down(sm) {
			height: 300px;
		}

		&:hover {

			.image__wrapper {
				background-color: $white;
				opacity: .6;
			}

			img {
				-webkit-transform: scale(1.1);
  				transform: scale(1.1);
			}
		}
	}

	&__wrapper {
		position: absolute;
		top: 0;
		left: 0;
	}

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 100%;

		@include media-breakpoint-down(sm) {
			position: relative;
			height: auto;
		}
	}

	&__details {
		position: relative;
		text-align: center;

		div {
			width: 100%;
			z-index: 2;
			padding: 20px;
		}

		h2 {
			font-size: 1.7rem;
			z-index: 3;

			@include media-breakpoint-up(md) {
				font-size: 3.6rem;
			}
		}

		h2, p {
			color: $black;
			text-shadow: .5px .5px $white;
		}

		.text-white {

			@include media-breakpoint-up(md) {
				h2, p {
					color: $white;
					text-shadow: .5px .5px $black;
				}
			}
		}
	}

	img {
		width: 100%;
		height: auto;
		margin: auto;
		-webkit-transition: 0.6s ease;
  		transition: 0.6s ease;
	}
}


// Page
.page-header {
	margin-top: 60px;
}
